body{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}


.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1f);
    grid-gap: 10px;
}

.container div {
    background: #3bbced;
    padding: 30px;
}

.container div:nth-child(even) {
    background: #777;
}

.one{
    grid-column: 1/3;
    grid-row: 1/2;
}
.two{
    grid-column: 3/4;
    grid-row: 1/3;
}

.three{
    grid-column: 2/4;
    grid-row: 3/4;
}
.four{
    grid-column: 1/2;
    grid-row: 2/4;
}
.five{
    grid-column:2/3; 
    grid-row:2/3; 
}
